:host {
	display: flex;
	flex-direction: column;
	
	/*perspective: 50rem;*/
	/*transform-style: preserve-3d;*/
}
/*:host > * + * {
	margin-top: 0.75em;
}*/

header {
	display: flex;
	align-items: center;
	padding: 1em;
}
header > * + * {
	margin-left: 0.5em;
}
h3 {
	display: flex;
	flex: 1;
}
.actions {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.list {
	display: flex;
	overflow-x: auto;
	
	margin-top: -1em;
	padding: 1em;
	transition: font-size 0.3s;
}
.list.cdk-drop-list {
	min-height: 16em;
}
.list:empty {
	font-size: 0;
}
.list > * + * {
	margin-left: 0.75em;
}


.placeholder {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	order: 1;
	flex: 1;
	align-self: center;
	padding: 1em;
	transition: flex 0.3s, opacity 0.3s;
}
.placeholder:not(:only-child) {
	margin-left: 0.5em;
	opacity: 0;
}