:host {
	display: flex;
	flex-direction: column;
	padding: 1em;
	
	perspective: 1000px;
	/*transform-style: preserve-3d;*/
}
/*:host > * + * {
	margin-top: 0.75em;
}*/

header, .actions {
	display: flex;
	align-items: center;
}
.actions {
	margin-left: auto;
}

.list {
	display: flex;
	overflow-x: auto;
	
	margin: 0 -1em;
	padding: 1em;
}
.list > * + * {
	margin-left: 0.75em;
}