:host {
	display: flex;
	flex-direction: column;
}
:host > div {
	transition: transform 0.3s;
}
/*:host > div:empty {
	transform: scale(0);
}*/

nextflick-movie-list:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.04);
}


nextflick-movie-detail {
	background-color: rgba(28, 28, 28, 0.95);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.6);
}
nextflick-movie-search, nextflick-movie-detail {
	z-index: 1;
	position: sticky;
}
nextflick-movie-search {
	top: 0;
}
nextflick-movie-detail {
	bottom: 0;
}