:host {
    --poster-width: calc(75px + 6vw);
    --poster-height: calc(1.4 * var(--poster-width));
    width: var(--poster-width);
    
    display: flex;
    flex-direction: column;
}

:host > * + * {
    margin-top: 0.5em;
}

.poster {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    overflow: hidden;
    min-height: var(--poster-height);
}

@media (min-width: 1200px) {
    :host {
        --poster-width: calc(75px + 0.06 * 1200px);
    }
}


:host:hover nextflick-movie .poster, :host:focus nextflick-movie .poster {
	box-shadow: 0 2px 1em rgba(255, 255, 255, 0.3);
	translate: transformZ(200px);
}