<header>
	<h3 (click)="startEdit()">
		<ng-container *ngIf="!isEditing">{{movieList.title || '[Untitled Movie List]'}}</ng-container>
		<input type="text" #titleInput [hidden]="!isEditing" [value]="movieList.title || ''" placeholder="My Awesome Movie List" (keyup.enter)="saveEdit()" (input)="newTitle = titleInput.value">
	</h3>
	<div class="actions">
		<button *ngFor="let action of actions" (click)="action.callback($event)" (keypress.enter)="action.callback($event)">{{action.name}}</button>
	</div>
</header>
<div class="list" [class.is-selecting]="isSelecting"
	cdkDropList [cdkDropListOrientation]="'horizontal'" [cdkDropListData]="movieList.entries" (cdkDropListDropped)="drop($event)" (cdkDragStarted)="console.log('cdkDragStart'); isDragging = true" (cdkDragReleased)="isDragging = false" [class.is-dragging]="isDragging">
	<nextflick-movie-list-entry #entryComponent *ngFor="let movieListEntry of movieList.entries" [movieListEntry]="movieListEntry"
		tabindex="0" [class.is-selected]="selectedEntries.has(movieListEntry)"
		(click)="isSelecting ? toggleSelectEntry(movieListEntry) : entryComponent.showMovieDetail()"
		(keyup.enter)="isSelecting ? toggleSelectEntry(movieListEntry) : entryComponent.showMovieDetail()"
		(contextmenu)="startSelect(); toggleSelectEntry(movieListEntry); false"
		cdkDrag
		></nextflick-movie-list-entry>
	<div class="placeholder" *ngIf="!hasEntries">Looks like this list is empty. Search for a movie and drag it here!</div>
</div>