<header>
    <h3 (click)="startEdit()">
        <ng-container *ngIf="!isEditing">{{movieList.title || '[Untitled Movie List]'}}</ng-container>
        <input type="text" #titleInput [hidden]="!isEditing" [value]="movieList.title || ''" placeholder="My Awesome Movie List" (keyup.enter)="saveEdit()" autofocus>
    </h3>
    <div class="actions">
        <button *ngFor="let action of actions" (click)="action.callback($event)" (keypress.enter)="action.callback($event)">{{action.name}}</button>
    </div>
</header>
<div class="list"
    cdkDropList [cdkDropListOrientation]="'horizontal'" [cdkDropListData]="movieList.entries" (cdkDropListDropped)="drop($event)" (cdkDragStarted)="console.log('cdkDragStart'); isDragging = true" (cdkDragReleased)="isDragging = false" [class.is-dragging]="isDragging">
    <nextflick-movie-list-entry *ngFor="let movieListEntry of movieList.entries" [movieListEntry]="movieListEntry"
        tabindex="0" [class.is-selected]="selectedEntries.has(movieListEntry)" (click)="toggleSelectEntry(movieListEntry)" (keyup.enter)="toggleSelectEntry(movieListEntry)"
        cdkDrag
        ></nextflick-movie-list-entry>
    <div class="placeholder" *ngIf="movieList.entries && movieList.entries.length === 0">Looks like this list is empty. Search for a movie and drag it here!</div>
</div>