@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');

:root {
	--bg-color: rgb(40, 40, 40);
	--text-color: rgba(255, 255, 255, 0.85);
	--primary-color: #60c131;
	
	font-family: 'Rubik', Roboto, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: border-box;
	margin: 0;
	transform-style: inherit;
	transition: box-shadow 0.3s, text-shadow 0.3s, filter 0.3s;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}


:focus {
	outline: none;
	filter: drop-shadow(0 1px 2px var(--primary-color));
}


button {
	-webkit-appearance: none;
	background-color: var(--primary-color);
	border: 1px transparent solid;
	background-clip: padding-box;
	border-radius: 5px;
	padding: 0.5em 0.6em;
	
	/*color: #fff;
	text-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);*/
	color: transparent;
	text-shadow: 0 0 #fff, 0 1px 8px rgba(0, 0, 0, 0.2);
	
	font: inherit;
	line-height: 1;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
	
	transition: 0.3s;
}
button:hover {
	filter: brightness(110%);
}
button:focus {
	filter: brightness(110%) drop-shadow(0 1px 4px var(--primary-color));
}
/*.actions button {
	background: none;
	overflow: hidden;
	position: relative;
}
.actions button:before {
	content: '';
	background-color: rgba(255, 255, 255, 0.75);
	mix-blend-mode: overlay;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	isolation: isolate;
	z-index: -1;
	transition: 0.2s;
}
.actions button:hover:before {
	background-color: rgba(255, 255, 255, 1);
}*/

input[type=text], input[type=search] {
	-webkit-appearance: none;
	background-color: transparent;
	border: none;
	color: inherit;
	font: inherit;
}





nextflick-movie-list-entry:focus {
	outline: none;
}
nextflick-movie-list-entry:hover nextflick-movie .poster, nextflick-movie-list-entry:focus nextflick-movie .poster {
	box-shadow: 0 2px 1em rgba(0, 0, 0, 0.3);
	transform: scale(1.02);
}
/*nextflick-movie-list-entry:focus nextflick-movie .poster {
	border: 2px solid var(--primary-color);
}*/


nextflick-movie-list-entry.is-selected nextflick-movie {
	filter: brightness(120%);
	transform: scale(1.02) translate3d(0, -0.3em, 5px);
}
nextflick-movie-list-entry.is-selected nextflick-movie .poster:after {
	content: '✔︎︎';
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	position: absolute;
	right: 0.5em;
	bottom: 0.5em;
}